@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #ff885b;
  --color-secondary: #ffe5cf;
  --color-tertiary: #557c56;
  --color-quaternary: #33372c;
  --color-black: #333;
  --color-white: #fff;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: var(--color-black);
}

.title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 2px;
  text-align: center;
}

/* header stylings */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media screen and (max-width: 43.75em) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }
}

.header__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 5px;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 31.25em) {
  .header__nav-list {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
  padding: 1rem;
  font-weight: 600;
  transition: all 0.2s;
}

.header__link:hover {
  color: var(--color-primary);
}
/* end of header stylings */

/* hero stylings */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(./images/hero-bg.jpg);
  background-position: bottom;
  background-size: cover;
}

.hero__textbox {
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 56.25em) {
  .hero__textbox {
    width: 90%;
  }
}

.hero__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 3px;
  font-weight: 900;
  margin-bottom: 3rem;
}

@media screen and (max-width: 46.875em) {
  .hero__title {
    font-size: 5rem;
  }
}

.hero__link {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 100px;
}
/* end of hero stylings */

/* about section stylings */
.about-section {
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.about__textbox,
.about__stats {
  width: 50%;
}

@media screen and (max-width: 50em) {
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .about__textbox,
  .about__stats {
    width: 90%;
  }
}

.about__text {
  margin: 1.5rem 0;
  line-height: 1.8;
  color: #999;
}

.about__link {
  text-decoration: none;
  display: block;
  padding: 1rem;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  text-transform: capitalize;
  text-align: center;
}

.about__stats {
  display: flex;
  flex-wrap: wrap;
}

.stat {
  width: 50%;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.stat__number {
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (max-width: 62.5em) {
  .stat__number {
    font-size: 6rem;
  }
}

@media screen and (max-width: 31.25em) {
  .stat__number {
    font-size: 4rem;
  }
}

.stat__description {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
}
/* end of about section stylings */
